body {
	font-family: 'Segoe UI', sans-serif;
    background-color: #707d9d;
}

nav {
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

nav a.navbar-brand {
	font-weight: bold;
}

.bgDblue {background-color: #317ac7;}
.textDblue {color: #317ac7;}
.bgLblue {background-color: #7cf6fd;}
.textLblue {color: #7cf6fd;}
.bgGray {background-color: #a2aab0;}
.textGray {color: #707d9d;}
.bgLGray {background-color: #bbc4c5;}
.textLGray {color: #eee;}
.bglg {background-color: #d7d9e7;}
.textlg {color: #d7d9e7;}
.bgGunmetal {background-color: #2f2b3d;}
.textGunmetal {color: #2f2b3d;}
.textLV {color: #f2f;}
.border-lv {
    border: #f2f;
}

.w10 { width: 10%;} 

#mainLanding {
    background-image: url('./assets/bg2.jpg');
    background-size: 100%;
}

#Profil {
    /* opacity: .6; */
    background-image: url(./assets/bg3.jpg);
    background-size: 100%;
    border-radius: 0px 30px 0px 30px;
}

@media screen and (max-width: 640px) {
    .cert { width: 90%; }   
}

@media screen and (min-width: 641px) {
    .cert { width: 30%; margin: 0 15px; }       
}

.img-cert {
    height: 200px;
    object-fit: cover;
    object-position: 20% 10%;
}